<%= form_with(model: coffee, local: true) do |form| %>
  <% if coffee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coffee.errors.count, "error") %> prohibited this coffee from being saved:</h2>

      <ul>
        <% coffee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!-- html form components -->
 <%= form.hidden_field :user_id, value: current_user.id %>
<!-- semantic ui form -->
<div class="ui form " style="width: 70%; align-self:center; margin-top: 10%">
    <div class="ui two column centered grid">
        <div class="column"></div>
        <div class="column">
          <h1 class="ui dividing header">Coffee Entry &nbsp;<i class="coffee icon"></i></h1>

            <div class="ui message" style="background-color: lightgray">
                <ul class="list">
                    <li><h3><b>Measurement Type:</b> Cup</h3></li>
                    <li><h3><b>Quantity:</b> 1</h3></li>
                </ul>
            </div>
            <%= form.hidden_field :measurement_type, value: 1 %>
            <%= form.hidden_field :quantity, value: 1 %>

          <div class="actions center">
            <%= form.submit 'Submit entry', :class => 'ui button teal large' %>
          </div>

            <div class="actions center">
            <%= link_to 'Back', "/pages/userinfo", class: 'ui button small' %>
            </div>

        </div>
    </div>
<!-- end of semantic ui form -->
<% end %>

