<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!-- html form components -->

<!-- semantic ui form -->
<div class="ui form">
  <h4 class="ui dividing header">Activity Entry</h4>
  <div class="field">
    <label><%= form.label :title %></label>
      <div class="field">
          <div class = "inputs_forty">
            <%= form.text_field :title, placeholder: "activity title" %>
        </div>
      </div>
  </div>

  <div class="field">
    <label><%= form.label :body %></label>
      <div class="field">
          <div class = "inputs_forty">
            <%= form.text_area :body, rows: "4" %>
          </div>
      </div>
  </div>

<% if current_user.condition ==1%>
     <div class="field">
    <label><%= form.label :entry_type %></label>
      <div class="field">
        <div class = "inputs_forty">
            <%= form.select :entry_type ,  [['Walk',1],['Bicycle Commute',2],['Running',3],['Stairs',4],['Stretching',5],['Yoga',6],['Elliptical',7],['Gardening',8],['Housework',9]] %>
        </div>
      </div>
  </div>
<% else %>
  <div class="field">
    <label><%= form.label :entry_type %></label>
      <div class="field">
        <div class = "inputs_forty">
            <%= form.select :entry_type ,  [['Walk',1],['Bicycle Commute',2],['Other',3]] %>
        </div>
      </div>
  </div>
<% end %>

  <div class="field">
    <label><%= form.label :created_at %></label>
      <div class="field">
        <div class = "inputs_forty">
            <%= form.datetime_field :created_at %>
        </div>
      </div>
  </div>

    <br>
  <div class="center field">
    <label>To what extend did you enjoy this activity?</label>
      <div class="field">
        <div class = "inputs_forty">
            <span class="likert-labels">Not at all</span><%= form.range_field :entertainment, as: :slider, :in => -3..3  , :step => 1 %><span class="likert-labels">A lot</span>
        </div>
      </div>
  </div>

    <br>
  <div class="center field">
    <label>How did you feel during this activity ?</label>
      <div class="field">
        <div class = "inputs_forty">
            <span class="likert-labels">Not well</span><%= form.range_field :affect, as: :slider, :in => -3..3 , :step => 1 %><span class="likert-labels">Very well</span>
        </div>
      </div>
  </div>


  <div class="actions center">
    <%= form.submit 'Submit entry', :class => 'ui button' %>
  </div>

</div>
<!-- end of semantic ui form -->

<% end %>
