<div class="container ">
    <div class= "ui secondary segment ">
       <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= @post.body %>
    </p>

    <p>
      <strong>Entry type:</strong>
        <% if @post.entry_type == 1 %>
            Walk
        <% elsif @post.entry_type == 2 %>
            Commute
        <% elsif @post.entry_type == 3 %>
            Other
        <% end %>
    </p>


    <p>
      <strong>Created at:</strong>
      <%= @post.created_at.day %> / <%= @post.created_at.month %> / <%= @post.created_at.year %>
    </p>


    <div class="ui buttons">
      <%= link_to 'Edit', edit_post_path(@post), class: 'ui button'%>
      <div class="or"></div>
      <%= link_to 'Back', posts_path, class: 'ui button' %>
    </div>

    </div>
</div>
